<!-- Education -->
<div id="education" class="section-container reveal-element from-left">
    <div class="section-header">
        <h2 class="section-title text-green-400">
            <i class="fas fa-graduation-cap mr-2"></i> EDUCATION
        </h2>
    </div>
    <div class="section-content">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 stagger-children">
            <!-- Education 1 -->
            <div class="bg-gray-900 rounded border border-gray-800 education-card p-4">
                <div class="flex items-center mb-4">
                    <div
                        class="w-10 h-10 bg-green-900 rounded-full flex items-center justify-center mr-3 education-icon">
                        <i class="fas fa-university text-green-400"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-sm">MASTER'S IN ELECTRICAL ENGINEERING AND COMPUTER SCIENCE</h3>
                        <p class="text-xs text-gray-500">National Taipei University of Technology, Taiwan</p>
                    </div>
                </div>
                <p class="text-sm text-gray-400">
                    Advanced research in generative AI, culminating in a novel content and spatial-aware model for
                    image inpainting. This work significantly addressed challenges in limited data environments and
                    set a new standard for efficiency and accuracy in GAN-based systems.
                </p>
            </div>

            <!-- Education 2 -->
            <div class="bg-gray-900 rounded border border-gray-800 education-card p-4">
                <div class="flex items-center mb-4">
                    <div
                        class="w-10 h-10 bg-cyan-900 rounded-full flex items-center justify-center mr-3 education-icon">
                        <i class="fas fa-university text-cyan-400"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-sm">BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</h3>
                        <p class="text-xs text-gray-500">Sri Ramakrishna Mission Vidyalaya College, India</p>
                    </div>
                </div>
                <p class="text-sm text-gray-400">
                    Learned to code and developed a passion for technology, laying the foundation for deeper
                    understanding of datastructure and algorithms.
                </p>
            </div>
        </div>
    </div>
</div>